<div class="container details">
  <div class="row">
    <div class="main-details">
      <div class="col s6 m4 l2">
        <div class="poster">
          <img
            *ngIf="movie.poster_path; else elseBlock"
            src="{{ apiPosterUrl }}{{ movie.poster_path }}"
          />
          <ng-template #elseBlock>
            <img src="../../assets/images/no-poster.jpg" />
          </ng-template>
        </div>
      </div>
      <div class="col s6 m4 l4">
        <div class="description">
          <h3>{{ movie.title }}</h3>
          <div class="description-list">
            <span class="genres" *ngFor="let genre of movie.genres">
              <h5>{{ genre.name }}</h5>
            </span>
            <span>{{ movie.release_date }}</span>
            <span class="badge runtime">{{ movie.runtime }} min</span>
            <p class="description-text">{{ movie.overview }}</p>
          </div>
          <div class="buttons">
            <div class="btn btn-primary">Rent $3.99</div>
            <div class="btn btn-primary">Buy $4.99</div>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l6">
        <div class="back-image">
          <img
            *ngIf="movie.poster_path; else backdropNoposter"
            src="{{ apiPosterUrl }}{{ movie.backdrop_path }}"
          />
          <ng-template #backdropNoposter>
            <img src="../../assets/images/no-poster-hor.jpg" />
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container cast">
  <h3>Cast And Crew</h3>
  <div class="row" *ngIf="cast.length > 0">
    <carousel
      [height]="380"
      [cellsToShow]="6"
      [cellsToScroll]="3"
      [loop]="true"
      [cellWidth]="1000"
    >
      <div class="carousel-cell col s6 m4 l2" *ngFor="let actor of cast">
        <app-cast [actor]="actor"></app-cast>
      </div>
    </carousel>
  </div>
</div>
