.details {
  margin-top: 20px;
  border-bottom: 1px solid white;
}

.poster img {
  width: 200px;
  height: auto;
}

.description {
  font-family: sans-serif;
  color: white;
  padding: 10px;
}

.back-image img {
  width: 100%;
}

.description-list span {
  margin-bottom: 10px;
}

.genres h5 {
  font-size: 100%;
  display: inline;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid white;
}

.buttons .btn {
  margin: 15px;
}

.cast {
  font-family: sans-serif;
  color: white;
}
