.movie-card {
  margin-top: 40px;
  position: relative;
  cursor: pointer;
  transition: all 0.6s;
}

.card-content {
  background-color: black;
  color: white;
  height: 100px;
  font-size: 100%;
  font-weight: bold;
}

.card-content p {
  margin-top: 5px;
}

.view-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  font-size: 130%;
  font-weight: bolder;
}

/* .hover button {
  opacity: 0;
  transition: all 0.7s;
}

.hover button:hover {
  opacity: 1;
} */

.card .card-image {
  filter: none;
  transition: all 0.7s;
}

.card:hover .card-image {
  filter: grayscale(100%);
  filter: blur(1px);
}

.card .view-button {
  opacity: 0;
  transition: all 0.7s;
}

.card:hover .view-button {
  opacity: 1;
}
